:root {
    --tab-height: 22px;
}

#browser:is(.tabs-top, .tabs-bottom) .tab-strip > span {
    #browser:is(.tabs-top, .tabs-bottom) .tab-position.tab-yield-space {
        --PositionX: 0px !important;
        height: var(--tab-height) !important;
        padding: 0 !important;
    }
}

#browser:is(.tabs-top, .tabs-bottom) .tab-strip > span > .tab-position {
    --PositionX: 0px !important;
    height: var(--tab-height) !important;
    padding: 0 !important;
}

#browser:is(.tabs-top, .tabs-bottom) .tab-strip > span > .tab-position .tab .tab-header {
    flex-basis: var(--tab-height) !important;
}

.toolbar-tabbar > .button-toolbar > button, .toolbar-tabbar > .toolbar-group > .button-toolbar > button {
    min-height: var(--tab-height) !important;
}

.toolbar-large .button-toolbar .button-icon:not(.favicon),
.toolbar-large .button-toolbar .button-icon svg, .toolbar-medium .button-toolbar .button-icon:not(.favicon), .toolbar-medium .button-toolbar .button-icon svg
._ {
    width: 20px !important;
    height: 20px !important;
}

.button-toolbar > button {
    height: 20px !important;
}
